body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.app-header h1 {
  margin: 0;
}

main {
  padding: 20px;
}

.app-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.card {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  margin: 10px;
  display: inline-block;
}

.card-content {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  transform: rotateY(0deg);
}

.card.flipped .card-content {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 10px;
}

.card-front {
  background: #f9f9f9;
  border: 1px solid #ddd;
}

.card-back {
  background: #fff;
  border: 1px solid #ddd;
  transform: rotateY(180deg);
}

.saudacao {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.saudacao h1 {
  margin: 0;
  color: #333;
}

.saudacao p {
  color: #666;
}